h1 {
    text-align: center;
}
nav {
   
    text-decoration: none;
    background-color: blue;
    color: aliceblue;
}
.navHome {
    background-color: #99AF07;
}
a {
    color: aliceblue;
    text-decoration: none;
}
ul {
    display: flex;
    padding: 20px;
    margin: 20px;
    list-style-type: none;
}
li {
    padding: 10px;
}
li:hover {
    color:bisque;
}
.p1 {
    margin: 20px;
    padding: 15px;
    width: 60%;
}
.p2 {
    padding: 15px;
    width: 40%;
}
.boxes {
    display: flex;
    flex-direction: row;
}
.p2 {

    margin: 20px;
}
.explanations {
    margin: 20px;
    padding: 20px;
}
.nav2 {
    background-color: yellow;
    color: #000;
}
.nav ul li {
    text-align: right;
}
.nav2 ul {
    justify-content: center;
}
a {
    color: #000;
}
.blueli:hover{
    color:blue
}
.blueBox {
    background-color: blue;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
}
.img {
    width: 50px;
    height: auto;
}

/* NAVIGATION 4 */ /* NAVIGATION 5 */
.fourth {
    background-color: #fff;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
nav li {
    position: relative;
}
.subMenu {
    position: absolute;
    left: 0;
    flex-direction: column;
    background-color: red;
    gap: 20px;
    border: 1px solid #efefef;
    padding: 10px 20px 20px 20px;
    align-items: flex-start;
    margin-top: 20px;
    display: none;
}
nav li:hover > .subMenu {
    display: flex;
    background-color: #233C67;
}
.fifthContainer {
    background-color: #4470AD; 
    margin: 0;
    padding: 0;
}



@media screen and (max-width: 650px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
    .boxes {
        flex-direction: column;
    }

}
    
